html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(181, 178, 184);
}

#encabezado{
    border: 0.2em solid rgb(68, 67, 68);
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-items: center;
    align-items: center;
}

#encabezado a:visited{
    color: rgb(85, 86, 110);
}

#encabezado img{
    width: 60%;
    height: 60%;
    aspect-ratio: 1/1;
    /* define la relación de aspecto entre el ancho y la altura de un elemento, asegurando que sus dimensiones 
    mantengan esa proporción específica al cambiar el tamaño de la pantalla o el contenedor*/
    border-radius: 100%;
    object-fit: fill;
}


h1{
    font-size: 5em;
    text-align: center;
}
#navegacion{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 2em;
    gap: 3em;

}
#navegacion a{
    padding: 0.2em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color:rgb(232, 172, 108);;
    border-radius: 30%;
    text-shadow: 0.2em 0.2em 0.2em rgb(215, 124, 26);  
    text-align: center;
}

#contenedor-noticias{
    border: 0.1em solid rgb(68, 67, 68);;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
}

.noticias{
    border: 0.1em solid rgb(68, 67, 68);
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 2fr;
}

.noticias h2{
    grid-column: 1/4;
    text-align: center;
    align-content: center;
    font-size: 3em;
}

.noticia{
    margin-left: 1em;
    border: 0.2em dashed rgb(142, 142, 142);
}

.noticia h3{
    text-align: center;
    font-size: 1.7em;
}

.noticia p{
    text-align: justify;
    font-size: 1.3em;
}

.noticias-urgentes{
    height: 44em;
    overflow-y: auto;
    border: 0.2em solid rgb(68, 67, 68);;
    grid-column: 5/7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3,1fr)
}

.noticias-urgentes h2{
    text-align: center;
    align-content: center;
    font-size: 3em;
}
.noticias-urgentes img{
    width: 40%;
    height: 40%; 
    aspect-ratio: 1/1;
}

.noticia-u{
    margin-left: 1em;
    border: 0.2em dashed rgb(142, 142, 142);;
    align-content: center;
    text-align: center;
    height: 30em;
    
}

.noticia img{
    width: 60%;
    height: 60%; 
    aspect-ratio: 1/1;
}
.imagenkiriko{
    position: relative;
    left: 5em;
    filter: contrast(0.7);
}

.imagenjuno{
    position: relative;
    top:1em;
    left: 5em;
    filter: contrast(0.8);
}

.imagengenji{
    position: relative;
    left: 5em;
    filter: contrast(0.8);
}

.imagenjuno1{
    position: relative;
    left: 2em;
    filter: contrast(0.7);
}

.imagenkiriko1{
    position: relative;
    left: 2em;
    filter: contrast(0.7);
}

.noticia-u h3{
    font-size: 1.7em;
}

.noticia-u p{
    font-size: 1.3em;
}
#pie-pagina{
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 2em;
    gap: 10em;
}
.direccion{
    padding: 0.4em;
    background-color:rgb(99, 98, 98);;
    border-radius: 10%;
    text-align:center;
}
.contacto{
    padding: 0.1em;
    background-color:rgb(99, 98, 98);;
    border-radius: 10%;
    text-align:center;
}
.derechos-autor{
    font-size-adjust: auto;
    padding: 0.1em;
    background-color:rgb(99, 98, 98);;
    border-radius: 10%;
    text-align:center;
}
a:link{
    color: rgba(110, 114, 201, 0.74);
}
a:visited{
 color: rgb(232, 172, 108);   
}

@media screen and (max-width: 700px) and (max-height: 790px) {
    
 
    #encabezado {
        grid-template-columns: 1fr; 
        gap: 0.5em;
    }

    
    h1 {
        font-size: 2.5em;
        margin: 0.5em 0;
    }
    
   
    #encabezado img {
        width: 40%;
        height: auto;
    }

  
    #navegacion {
        grid-template-columns: 1fr; 
        gap: 1em;
        font-size: 1.5em; 
        padding: 0 1em;
    }

    
    #navegacion a {
        padding: 0.5em;
        border-radius: 10px; 
    }

   
    #contenedor-noticias {
        grid-template-columns: 1fr;
        border: none;
    }
    .noticias {
        grid-column: 1/2;
        display: block; 
    }

  
    .noticias-urgentes {
        grid-column: 1/2; 
        height: auto; 
        overflow-y: visible; 
        margin-top: 1em;
    }
    
  
    .noticias h2, .noticias-urgentes h2 {
        font-size: 2em; 
        margin-top: 0.5em;
    }

   
    .noticia {
        margin-left: 0;
        margin-bottom: 1em;
        padding: 0.5em;
    }

    
    .noticia h3, .noticia-u h3 {
        font-size: 1.5em;
    }
    .noticia p, .noticia-u p {
        font-size: 1.2em;
        line-height: 1.4;
    }

    
    .noticia img {
        width: 80%; 
        height: auto;
        display: block;
        margin: 0.5em auto;
        position: static;
        left: 0;
        top: 0;
    }
    .noticias-urgentes img{
        width: 50%; 
        height: auto;
        display: block;
        margin: 0.5em auto; 
        position: static; 
        left: 0;
        top: 0;
    }

   
    .imagenkiriko, .imagenjuno, .imagengenji, .imagenjuno1, .imagenkiriko1 {
        position: static;
        left: 0;
        top: 0;
        margin: 0.5em auto;
        display: block;
    }

    
    #pie-pagina {
        grid-template-columns: 1fr;
        gap: 1em; 
        font-size: 1.5em; 
        padding: 2em 1em;
    }

   
    .direccion, .contacto, .derechos-autor {
        padding: 0.5em;
        border-radius: 5px;
    }
}
@media screen and (min-width: 400px) and (max-height: 790px) {

    .noticias-urgentes img{
        width: 20em; 
        height: 20em;
        display: block;
        margin: 0.5em auto; 
        position: static; 
        left: 0;
        top: 0;
    }

}

   @media screen and (min-width: 700px) and (max-width: 1000px) {
    h1 {
        font-size: 3.5em; 
    }

   
    #encabezado img {
        width: 80%;
        height: 80%;
    }

    #navegacion {
        gap: 1.5em; 
        font-size: 1.5em; 
        padding: 0 1em;
    }
    
    #contenedor-noticias {
        grid-template-columns: repeat(6, 1fr); 
    }

   
    .noticias {
        grid-column: 1/5; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto 1fr;
    }

    .noticias h2 {
        grid-column: 1/3; 
        font-size: 2.5em;
    }
    
    .noticias-urgentes {
        grid-column: 5/7; 
        height: 80em; 
        overflow-y: auto; 
    }
    
    .noticia h3, .noticia-u h3 {
        font-size: 1.5em;
    }
    .noticia p, .noticia-u p {
        font-size: 1.1em;
        margin: 0.5em;
    }
    
    .noticia img {
        width: 70%; 
        height: auto;
    }
    
    .imagenkiriko, .imagenjuno, .imagengenji {
        left: 2em;
    }

    
    #pie-pagina {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em; 
        font-size: 1.5em;
        padding: 2em;
    }

    .derechos-autor {
        grid-column: 1 / 3; 
    }
}